@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/pt-root-ui_bold.woff'),
    url('../fonts/pt-root-ui_bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/pt-root-ui_medium.woff'),
    url('../fonts/pt-root-ui_medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/pt-root-ui_regular.woff'),
    url('../fonts/pt-root-ui_regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/pt-root-ui_light.woff'),
    url('../fonts/pt-root-ui_light.woff2');
  font-weight: 300;
}

/* Greybeard 22px */
@font-face {
  font-family: 'Greybeard 22px';
  src: url('../fonts/Greybeard-22px.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Greybeard 22px';
  src: url('../fonts/Greybeard-22px-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Times New Roman */
@font-face {
  font-family: 'Times New Roman';
  src: url('../fonts/Times%20New%20Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Times New Roman';
  src: url('../fonts/Times%20New%20Roman%20Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
